* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease all;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 5px;
}

input:focus {
outline: none;
}

*::-webkit-outer-spin-button,
*::-webkit-inner-spin-button {
appearance: none;
-webkit-appearance: none;
margin: 0;
}

*[type=number]{
-moz-appearance: textfield;
appearance: textfield;
}

body {
background-color: rgb(255, 255, 255);
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}